

<nav class="flex-column mt-3">

    <div class="nav-item px-3">
        <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
            Job list <span class="bi bi-house-door-fill ms-2" aria-hidden="true"></span>
        </NavLink>
    </div>

    <div class="nav-item px-3">
        <NavLink class="nav-link" href="/add-workadvert">
            Add Job Advert <span class="bi bi-plus-circle-fill ms-2" aria-hidden="true"></span>
        </NavLink>
    </div>

    <div class="nav-item px-3">
        <NavLink class="nav-link" href="/edit-workadvert">
            Edit Job Adverts <span class="bi bi-pencil-square ms-2" aria-hidden="true"></span>
        </NavLink>
    </div>

    <div class="nav-item px-3">
        <NavLink class="nav-link" href="/delete-workadvert">
            Delete Job Adverts <span class="bi bi-trash-fill ms-2" aria-hidden="true"></span>
        </NavLink>
    </div>

</nav>
